.make-a-call-form{
    width: 35%;
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    margin: 10px 0;
    align-items: center;
    border-radius: 6px;
    padding: 25px;
    box-shadow: 0px 2px 1px 0px rgb(0 0 0 / 8%), 0px 1px 1px 0px rgb(0 0 0 / 36%),
      0px 1px 3px 0px rgb(0 0 0 / 30%);
  }
  
  .input-phone-number {
    display: flex;
    margin: 15px 0;
    align-items: center;
    position: relative;
  }
  
  .label-phone-number {
    width: min-content;
    font-size: 15px;
    margin-right: 5px;
    height: 30px;
  }

  .call-button {
    display: flex;
    align-items: center;
  }
  
  
  .error {
    color: red;
    position: absolute;
    margin: 0;
    top: 45px;
    right: 55px;
  }
  