.App {
  text-align: center;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-form{
  display: flex;
}

.label-phone-number{
  margin-right: 5%;
}

